body {
    font-family: 'Stardos Stencil', cursive;
    background-color: #313d35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#main-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

#time-display {
    font-family: 'Barlow', sans-serif;
    font-family: 'Stardos Stencil', cursive;
    font-size: 80px;
    font-weight: 800;
    width: 80%; 
    height: 200px; 
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #AAA;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #262927;

    font-size: 60px;
    font-weight: 500;
    font-family: 'Stardos Stencil', cursive;
    color: #AAA;
    border: 10px ridge #666;
}

#sleep-button {
    font-size: 25px;
}

#weather-summary {
    margin: 30px;
    padding: 30px;
    align-items: right;
    font-size: 20px;
    background-color: #38473d;
    color: #DDD;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 110px;
    width: 290px;
    z-index: 1;
}

#condition-image {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 5px;
    right: 10px;
    z-index: 0;
}