body {
    font-family: Arial, sans-serif;
    background-color: #262927;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#time-display {
    font-family: 'Barlow', sans-serif;
    font-family: 'Stardos Stencil', cursive;
    font-size: 200px;
    font-weight: 800;
    width: 80%; 
    height: 200px; 
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #AAA;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #262927;
    font-weight: 500;
    font-family: 'Stardos Stencil', cursive;
    color: #AAA;
    border: 10px ridge #666;
}

#close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 60px;
}