#clock-face {
    display: flex;
    flex-direction: column;
}

#time-display {
    width: 80%; 
    height: 80%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-size: 140px;
    font-weight: 400;
}

.time {
    padding: 10px;
}

#ampm {
    font-size: 80px;
    position: relative;
    top: 20px;
}
 
#separator {
    position: relative;
    font-size: 90px;
    bottom: 4px;
}

.date {
    padding: 4px;
}

#date-display {
    width: 80%; 
    height: 80%;

    display: flex;
    justify-content: center;
    justify-items: left;

}

#day {
    font-size: 65px;
    position: relative;
    bottom: 0px;
    right: 22px;
}

#month {
    font-size: 50px;
    position: relative;
    bottom: 4px;
    padding: 10px;
}

#date {
    font-size: 80px;
    position: relative;
    right: 2px;
}

#suffix {
    font-size: 37px;
    position: relative;
    bottom: 10px;
    right: 12px;
}